.wrapper-tab-clients{ 
	@include styleGrid1;

	.message-search {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding-bottom: 20px;
		width: 100%;
		margin-right: 0;
		margin-left: auto;

		.container-text {
			display: flex;
			justify-content: space-between;
			width: 140px;
			@include styleParagraphSmall();
			font-size: 13px;
			color: #fff;
			opacity: 1;

			.action {
				cursor: pointer;
				display: flex;
				align-items: center;
				opacity: 0.7;
				img {
					margin-right: 10px;
					height: 13px;	
					width: 13px;
				}
			}
		}

		.container-action {

			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 410px;

			.new-client {
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 37px;	
				width: 37px;
				border-radius: 50%;
				background-color: #E3667A;
			}

			form {
				position: relative;
			}

			.search-input {
				height: 40px;	
				width: 355px;
				border-radius: 20px;
				background-color: rgba(255,255,255,0.1);
				border: none;
				color: #C2C6CF;	
				font-family:Lato-Regular;
				font-size: 13px;
				padding-left: 45px;
				outline: none;

				&::placeholder {
					color: #C2C6CF;		
				}

				&::-webkit-search-cancel-button {
				  display: none;
				}
			}

			.search-button {
				position: absolute;
				text-align: right;
				top: 14px;
				left: 20px;
				height: 13px;	
				width: 13px;	
				opacity: 0.9;
				background-color: transparent;
				border: none;
				outline: none;

				img {
					height: 13px;	
					width: 13px;
				}
			}
		}
	}

	.container-clients {
		.client {
			position: relative;

			.container-base {
				.name {
					@include styleParagraphBig();
				}
				.row {
					@include styleParagraphSmall();
					font-size: 13px;
				}
			}

			.container-exploitations {
				display: flex;
				align-items: center;
				justify-content: space-between;
				@include styleParagraphSmall();
				opacity: 1;
				color: $colorMain_1;

				.exploitation {
					span {
						margin-left: 10px;
						color: $colorMain_5;
					}

					img:nth-child(3) {
						display: none;
					}

					&.neg {
						span {
							color: $colorMain_4;
						}
						
						img:nth-child(2) {
							display: none;
						}
						
						img:nth-child(3) {
							display: initial;
						}
					}
				}

				.point {
					height: 4px;	
					width: 4px;
					border-radius: 50%;	
					background-color: #D8D8D8;
				}
			}

			.map {
				a {
					display: none !important;
				}
			}

			.container-action {
				cursor: pointer;
				position: absolute;
				z-index: 1;
				right: 35px;
				@include styleParagraphSmall();
				opacity: 1;
				line-height: 24px;
				&:after {
					content: " ";
					position: absolute;
					top: -5px;
					right: -20px;
					width: 5px;
					height: 5px;
					margin: 8px;
					border-right: 1.4px solid $colorMain_2;
					border-bottom: 1.4px solid $colorMain_2;
					transform: translateY(75%) rotate(45deg);
				}

				.dropdown {
					position: absolute;
					display: none;
					flex-direction: column;
					align-items: baseline;
					top: 35px;
					right: -15px;
					width: 145px;	
					border-radius: 8px;	
					background-color: #FFFFFF;
					box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1);

					.action {
						padding: 15px;
						display: flex;
						align-items: center;

						@include styleParagraphSmall;
						opacity: 1;
						color: #1C2D4F;
						line-height: 0;

						img {
							margin-right: 10px;
							height: 12px;	
							width: 14px;
						}
					}
				}

				&:hover {
					color: $colorMain_1;
					&:after {
						border-right: 1.4px solid $colorMain_1;
						border-bottom: 1.4px solid $colorMain_1;
					}
					.dropdown {
						display: flex;
					}
				}
			}
		}

		.more {
			display: none;

			margin: auto;
			margin-top: 15px;
			border: 0.5px solid #0B1D4C;
			border-radius: 4px;
			width: 315px;
			height: 50px;

			@include styleParagraphSmall();
			color: $colorMain_1;
			opacity: 1;

			justify-content: center;
			align-items: center;
		}
	}

	&.list {
		.message-search .container-text .action:nth-child(2) {
			opacity: 1;
		}

		.container-clients {

			.client {
				width: 1125px;
				&:last-child {
					margin-bottom: 130px;
				}

				position: relative;
				padding: 16px 15px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 70px;	
				border-radius: 4px;	
				background-color: #FFFFFF;
				margin-bottom: 10px;

				.container-infos {
					display: flex;
					align-items: center;

					.row-n-col {
						width: 800px;
						display: flex;
						justify-content: space-between;
					}
				}

				.container-img {
					margin-right: 10px;
					height: 45px;	
					width: 45px;	
					img {
						width: 100%;
						border-radius: 12px;
					}
				}
			
				.container-base {

					.name {
						line-height: 15px;
					}
					.row {
						.point {
							display: none;
						}
						.online {
							display: none;
						}
					}
				}

				.container-exploitations {
					width: 570px;
				}

				.map {
					height: 35px;	
					width: 35px;
					border-radius: 4px;

					.button {
						display: none;
					}
				}

				.container-action {
					position: relative;
					padding-left: 15px;
				    padding-bottom: 15px;
				    transform: translateY(7.5px);
				}
			}
		}
	}

	&.tuile {
		.message-search .container-text .action:nth-child(1) {
			opacity: 1;
		}

		.container-clients {

			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: 40px;

			.client {

				height: 270px;	
				width: 355px;

				position: relative;
				padding: 40px 30px 30px 30px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				border-radius: 4px;	
				background-color: #FFFFFF;
				margin-bottom: 15px;

				.container-infos {
					display: flex;
					align-items: center;
					flexflow: row wrap;
					width: 100%;

					.container-img {
						height: 70px;	
						width: 70px;
						margin-right: 20px;
						img {
							width: 100%;
							border-radius: 20px;
						}
					}

					.row-n-col {
						width: 200px;
						display: flex;
						flex-direction: column;
					}

					.container-base {
						.name {
							line-height: 15px;
						}
						.row {
							display: flex;
							align-items: center;
							justify-content: space-between;
							width: 100%;
							.point {
								height: 4px;	
								width: 4px;	
								background-color: #D8D8D8;
								border-radius: 50%;
							}
							.online {
							}
						}
					}

					.container-exploitations {
						margin-top: 5px;
						.exploitation:nth-child(1n+2) {
							display: none;
						}
						.point {
							display: none;
						}
					}
				}

				.map {
					cursor: pointer;
					height: 115px;	
					width: 100%;
					border-radius: 5px;

					.button {
						cursor: pointer;
						position: absolute;
						right: 0;
						bottom: 0;
						z-index: 100;
					}
				}

				.container-action {
					padding-left: 20px;
    				padding-bottom: 20px;
					top: calc(20px + 10px);
					transform: translateY(-50%);
				}

				&.big {
					width: 727.5px;

					.container-infos .container-base .row {
						width: 200px;
					}

					.container-infos .container-exploitations {
						width: 550px;
						.exploitation {

							&:nth-child(1n+2) {
								display: block;
							}
						}
						.point {
							display: block;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {

	main.clients {
		#container {
			margin-top: -150px;
			margin-bottom: -230px;
			padding: 0;
			.wrapper {
				transform: translateY(-525px);
			}
		}
		#head {
			padding-bottom: 300px;
		}
	}

	.wrapper-tab-clients .message-search {
		padding: 0 25px;
		flex-direction: column-reverse;
		align-items: flex-start;
		height: 275px;
		margin-bottom: 5px;
	}
	.wrapper-tab-clients .message-search .container-action {
		flex-direction: column;
		width: 100%;
	}
	.wrapper-tab-clients .message-search .container-action form {
		width: 100%;
	}
	.wrapper-tab-clients .message-search .container-action .new-client {
		width: 55.5px;
		height: 55.5px;
		margin-bottom: 30px;
	}
	.wrapper-tab-clients .message-search .container-action .search-input {
		width: 100%;
	}
	.wrapper-tab-clients .message-search .container-text {
		width: 0;
		overflow: hidden;
	}

	.wrapper-tab-clients.tuile .container-clients .client {
		width: 100%;
		border-radius: 0;
	}

	.wrapper-tab-clients .container-clients .more {
		display: flex;
	}
}