@import '../common.scss';
@import '../header.scss';

/* ------------------------------------------------------------ */
/* ********************* DASHBOARD COMMON ********************* */
/* ------------------------------------------------------------ */

#head{
	position: relative;
	background-color: $colorMain_1;
	padding: 175px 0px 175px 0px;
	.wrapper{
		@include styleGrid1;
		position: relative;
		display: none;
		.container-text{
			text-align: center;
			h1{
				@include styleH2;
				color: #FFF;
			}
			p{
				width: 350px;
				margin: auto;
				@include styleParagraphSmall;
			}
		}
		.obj-1{
			height: 218px;
			position: absolute;
			left: 0px;
			top: 50%;
			transform: translateY(-50%);
		}
		.obj-2{
			height: 218px;
			position: absolute;
			right: 0px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

#container{
	@include styleGrid1;
	display: flex;
	justify-content: space-between;
	position: relative;
	.wrapper{
		@include styleGrid2;
		margin-right: 0;
		margin-left: 0;
		position: relative;
		display: none;
	}

	.cta-common {
		.container-text {
			margin-bottom: 20px;
			text-align: center;
			font-family:ClanPro-Regular;
			font-size: 11px;	
			font-weight: 500;
			color: #fff;
		}
		.container-action {
			position: relative;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			width: 60px;
			height: 415px;	
			border-radius: 10px;	

			.nohover {
				border-radius: 10px;
				padding: 30px 23px 60px 23px;
				background-color: #F8CC6A;	
			}

			.action {
				position: relative;
    			z-index: 1;
				display: flex;
				width: 100%;
				padding-top: 20px;

				font-family:Lato-Regular;
				font-size: 10px;	
				font-weight: bold;
				transition-duration: 0.4s;
				
				&:nth-child(2) {
					transform: translateY(-300%);
				}

				&:nth-child(3) {
					transform: translateY(-400%);
				}

				&:nth-child(4) {
					transform: translateY(-500%);
				}

				&:nth-child(5) {
					transform: translateY(-600%);
				}

				&:nth-child(6) {
					transform: translateY(-700%);
				}
			}	

			&:after {
				content: " ";
				position: absolute;
				z-index: 0;
				bottom: 0;
				transform: translateY(-100%); 
				left: 0;
				width: 60px;
				height: 415px;
				background-color: #F8CC6A;
				transition-duration: 0.5s;
			}	

			&:hover {
				padding-top: 0;
				justify-content: space-around;
				transition-duration: 1s;
				box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);	

				&:after {
					transform: translateY(0);
				}

				.nohover {
					display: none;
				}

				.action {
					cursor: pointer;
					flex-direction: column;
					align-items: center;
					transform: translateY(0);

					img {
						height: 20px;	
						width: 20px;
						margin-bottom: 10px;
					}

					&:hover {
						background-color: rgba(0,0,0,0.05);
					}

					&:nth-child(2) {
						transition-duration: 0.5s;
					}

					&:nth-child(3) {
						transition-duration: 0.7s;
					}

					&:nth-child(4) {
						transition-duration: 0.9s;
					}

					&:nth-child(5) {
						transition-duration: 1.1s;
					}

					&:nth-child(6) {
						transition-duration: 1.3s;
					}
				}
			}
		}
	}
}

main {
	&.dashboard {
		#head .wrapper-tab-dashboard {
			display: block;
		}

		#container { 
			margin-top: -60px;
			.wrapper-tab-dashboard {
				display: flex;
			}
		}
	}

	&.drones {
		#head .wrapper-tab-drones {
			display: block;
		}

		#container { 
			margin-top: -100px;
			.wrapper-tab-drones {
				display: flex;
				flex-direction: column;
			}
			.cta-common {
				margin-top: 25px;
			
				.container-action .action:nth-child(2) {
					background-color: rgba(0,0,0,0.05);
				}
			}
		}
	}

	&.capteurs {
		#head .wrapper-tab-capteurs {
			display: block;
		}

		#container { 
			margin-top: -100px;
			.wrapper-tab-capteurs {
				display: flex;
				flex-direction: column;
			}
			.cta-common {
				margin-top: 25px;
			
				.container-action .action:nth-child(3) {
					background-color: rgba(0,0,0,0.05);
				}
			}
		}
	}

	&.clients {

		#head .wrapper-tab-clients {
			display: block;
		}

		#container {
			margin-top: -100px;
			.wrapper-tab-clients {
				display: block;
			}
			.cta-common {
				margin-top: 25px;
			
				.container-action .action:nth-child(4) {
					background-color: rgba(0,0,0,0.05);
				}
			}
		}
	}

	&.factures {
		#head .wrapper-tab-factures {
			display: block;
		}

		#container {
			margin-top: -100px;
			.wrapper-tab-factures {
				display: block;
			}
			.cta-common {
				margin-top: 25px;
			
				.container-action .action:nth-child(5) {
					background-color: rgba(0,0,0,0.05);
				}
			}
		}
	}

	&.agenda {
		#head .wrapper-tab-agenda {
			display: block;
		}

		#container {
			margin-top: -100px;
			.wrapper-tab-agenda {
				display: block;
			}
			.cta-common {
				margin-top: 25px;

				.container-action .action:nth-child(6) {
					background-color: rgba(0,0,0,0.05);
				}
			}
		}
	}

	&.messagerie {
		#head .wrapper-tab-messagerie {
			display: block;
		}

		#container {
			margin-top: -100px;
			.wrapper-tab-messagerie {
				display: block;
			}
			.cta-common {
				margin-top: 25px;
			}
		}
	}

	&.profil {
		#head .wrapper-tab-profil {
			display: block;
		}

		#container {
			margin-top: -100px;
			.wrapper-tab-profil {
				display: block;
			}
			.cta-common {
				margin-top: 25px;
			}
		}
	}
}

/* ---------------------------------------------------------------- */
/* ********************* END DASHBOARD COMMON ********************* */
/* ---------------------------------------------------------------- */