@import '../common.scss';
@import '../header.scss';

/* ------------------------------------------------------------ */
/* ********************* DASHBOARD COMMON ********************* */
/* ------------------------------------------------------------ */

#head{
	position: relative;
	background-color: $colorMain_1;
	padding: 175px 0px 175px 0px;
	.wrapper{
		@include styleGrid1;
		position: relative;
		display: none;
		.container-text{
			text-align: center;
			h1{
				@include styleH2;
				color: #FFF;
			}
			p{
				width: 350px;
				margin: auto;
				@include styleParagraphSmall;
			}
		}
		.obj-1{
			height: 218px;
			position: absolute;
			left: 0px;
			top: 50%;
			transform: translateY(-50%);
		}
		.obj-2{
			height: 218px;
			position: absolute;
			right: 0px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

#container{
	@include styleGrid1;
	display: flex;
	justify-content: space-between;
	position: relative;
	.wrapper{
		@include styleGrid2;
		margin-right: 0;
		margin-left: 0;
		position: relative;
		display: none;
	}

	.cta-common {
		width: 65px;
		.container-text {
			margin-bottom: 20px;
			text-align: center;
			font-family:ClanPro-Regular;
			font-size: 11px;	
			font-weight: 500;
			color: #fff;
		}
		.container-action {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			padding-top: 20px;
			height: 110px;	
			width: 65px;	
			border-radius: 10px;	
			background-color: #F8CC6A;	
			box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);	

			.action {
				display: none;
				width: 100%;
				padding-top: 20px;

				font-family:Lato-Regular;
				font-size: 10px;	
				font-weight: bold;
			}			

			&:hover {
				padding-top: 0;
				height: 415px;
				justify-content: space-around;

				.nohover {
					display: none;
				}

				.action {
					cursor: pointer;
					display: flex;
					flex-direction: column;
					align-items: center;

					img {
						height: 20px;	
						width: 20px;
						margin-bottom: 10px;
					}

					&:hover {
						background-color: rgba(0,0,0,0.05);
					}
				}
			}
		}
	}
}

main {
	&.dashboard {
		#head .wrapper-tab-dashboard {
			display: block;
		}

		#container { 
			margin-top: -60px;
			.wrapper-tab-dashboard {
				display: flex;
			}
		}
	}

	&.factures {
		#head .wrapper-tab-factures {
			display: block;
		}

		#container {
			margin-top: -100px;
			.wrapper-tab-factures {
				display: block;
			}
			.cta-common {
				margin-top: 25px;
			
				.container-action .action:nth-child(5) {
					background-color: rgba(0,0,0,0.05);
				}
			}
		}
	}

	&.agenda {
		#head .wrapper-tab-agenda {
			display: block;
		}

		#container {
			margin-top: -100px;
			.wrapper-tab-agenda {
				display: block;
			}
			.cta-common {
				margin-top: 25px;

				.container-action .action:nth-child(6) {
					background-color: rgba(0,0,0,0.05);
				}
			}
		}
	}

	&.messagerie {
		#head .wrapper-tab-messagerie {
			display: block;
		}

		#container {
			margin-top: -100px;
			.wrapper-tab-messagerie {
				display: block;
			}
			.cta-common {
				margin-top: 25px;
			}
		}
	}

	&.profil {
		#head .wrapper-tab-profil {
			display: block;
		}

		#container {
			margin-top: -100px;
			.wrapper-tab-profil {
				display: block;
			}
			.cta-common {
				margin-top: 25px;
			}
		}
	}
}

/* ---------------------------------------------------------------- */
/* ********************* END DASHBOARD COMMON ********************* */
/* ---------------------------------------------------------------- */