@import '../common.scss';
@import '../header.scss';

/* ------------------------------------------------------------ */
/* ********************* DASHBOARD COMMON ********************* */
/* ------------------------------------------------------------ */

#head{
	position: relative;
	background-color: $colorMain_1;
	padding: 175px 0px 175px 0px;
	.wrapper{
		@include styleGrid1;
		position: relative;
		display: none;
		.container-text{
			text-align: center;
			h1{
				@include styleH2;
				color: #FFF;
			}
			p{
				width: 350px;
				margin: auto;
				@include styleParagraphSmall;
				font-size: 15px;
    			line-height: 18px;
			}
		}
		.obj-1{
			height: 170px;
			position: absolute;
			left: -100px;
			top: 50%;
			transform: translateY(-50%);
		}
		.obj-2{
			height: 218px;
			position: absolute;
			right: 80px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

#container{
	@include styleGrid1;
	display: flex;
	justify-content: space-between;
	position: relative;
	.wrapper{
		@include styleGrid2;
		margin-right: 0;
		margin-left: 0;
		position: relative;
		display: none;

		.container-action {
			.dropdown .action {
				padding: 10px;
				margin: 5px;
				border-radius: 4px;
				width: 135px;
			}
			.dropdown .action:hover {
				background-color: rgba(0,0,0,0.1);
			}
		}
	}

	.cta-common {
		width: 70px;
		.container-text {
			margin-bottom: 20px;
			text-align: center;
			font-family:ClanPro-Regular;
			font-size: 11px;	
			font-weight: bold;
			color: #fff;
		}

		.container-action{
			position: relative;
			overflow: hidden;
			border-radius: 10px;
			z-index: 1;
			&:before{
				content:'';
				border-radius: 10px;
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				background-color: #F8CC6A;
				transform: translateY(-75%);
				transition: all 500ms cubic-bezier(0.020, 1.000, 0.825, 0.965);
				box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
			}
			.content{
				position: relative;
				z-index: 1;
				position: relative;

				.container-add{
					position: absolute;
					left: 0px;
					top: 30px;
					font-size: 40px;
					text-align: center;
					color: #FFF;
					width: 100%;
					transition: all 0.25s ease;

					img {
						height: 18px;	
						width: 18px;
					}
				}
				.container-el{

					.el{
						cursor: pointer;
						text-align: center;
						opacity: 0;
						transform: scale(0.9);
						transition: all 0.25s cubic-bezier(0.020, 1.000, 0.825, 0.965);

						padding: 20px 0;
						
						&:last-child{
							margin-bottom:0px;
						}
						.icn{
							margin:auto;
							width: 20px;
							height: 25px;
							margin-bottom:8px;

							img {	
								width: 100%;
							}
						}
						.text{
							font-family:Lato-Regular;
							font-size: 11px;	
							font-weight: bold;
							color: #fff;
						}

						&:hover {
							background-color: rgba(0,0,0,0.05);
						}
					}

				}
			}
			&:hover{
				transition-duration: 1.5s;
				box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
				&:before{
					transform:translateY(0px);
				}
				.container-add{
					opacity: 0;
				}
				.container-el .el{
					@for $i from 1 to 10 {
					    &:nth-child(#{$i}) { transition-delay: $i * 0.075s; }
					}
					opacity: 1;
					transform: scale(1);
				}
			}
		}
	}
}

main {
	&.dashboard {
		#head .wrapper-tab-dashboard {
			display: block;
		}

		#container { 
			margin-top: -60px;
			.wrapper-tab-dashboard {
				display: flex;
			}
		}
	}

	&.drones {
		#head .wrapper-tab-drones {
			display: block;
		}

		#container { 
			margin-top: -100px;
			.wrapper-tab-drones {
				display: flex;
				flex-direction: column;
			}
			.cta-common {
				margin-top: 25px;
			
				.container-action .el:nth-child(1) {
					background-color: rgba(0,0,0,0.05);
				}
			}
		}
	}

	&.capteurs {
		#head .wrapper-tab-capteurs {
			display: block;
		}

		#container { 
			margin-top: -100px;
			.wrapper-tab-capteurs {
				display: flex;
				flex-direction: column;
			}
			.cta-common {
				margin-top: 25px;
			
				.container-action .el:nth-child(2) {
					background-color: rgba(0,0,0,0.05);
				}
			}
		}
	}

	&.clients {

		#head .wrapper-tab-clients {
			display: block;
		}

		#container {
			margin-top: -100px;
			.wrapper-tab-clients {
				display: block;
			}
			.cta-common {
				margin-top: 25px;
			
				.container-action .el:nth-child(3) {
					background-color: rgba(0,0,0,0.05);
				}
			}
		}
	}

	&.agents {
		#head .wrapper-tab-agents {
			display: block;
		}

		#container {
			margin-top: -100px;
			.wrapper-tab-agents {
				display: block;
			}
			.cta-common {
				margin-top: 25px;
			}
		}
	}

	&.factures {
		#head .wrapper-tab-factures {
			display: block;
		}

		#container {
			margin-top: -100px;
			.wrapper-tab-factures {
				display: block;
			}
			.cta-common {
				margin-top: 25px;
			
				.container-action .el:nth-child(4) {
					background-color: rgba(0,0,0,0.05);
				}
			}
		}
	}

	&.agenda {
		#head .wrapper-tab-agenda {
			display: block;
		}

		#container {
			margin-top: -100px;
			.wrapper-tab-agenda {
				display: block;
			}
			.cta-common {
				margin-top: 25px;

				.container-action .el:nth-child(5) {
					background-color: rgba(0,0,0,0.05);
				}
			}
		}
	}

	&.messagerie {
		#head .wrapper-tab-messagerie {
			display: block;
		}

		#container {
			margin-top: -100px;
			.wrapper-tab-messagerie {
				display: block;
			}
			.cta-common {
				margin-top: 25px;
			}
		}
	}

	&.profil {
		#head .wrapper-tab-profil {
			display: block;
		}

		#container {
			margin-top: -100px;
			.wrapper-tab-profil {
				display: block;
			}
			.cta-common {
				margin-top: 25px;
			}
		}
	}
}

@media screen and (max-width: 800px) {

	#head .wrapper .obj-1, #head .wrapper .obj-2 {
		display: none;
	}

	#head .wrapper .container-text p {
		width: 300px;
	}

	main #container {
		flex-direction: column-reverse;
		align-items: center;
	}

	main.dashboard #container {
		margin-top: -150px;
	}

	#container .cta-common {
		width: auto;
		z-index: 0;
	}
	#container .cta-common .container-action {
		position: relative;

		&:hover{
			transition-duration: 0s;
			box-shadow: 0 0 0 0 rgba(0,0,0,0);
			&:before{
				transform:translateY(0px);
			}
			.container-add{
				opacity: 1;
			}
			.container-el .el{
				opacity: 0;
			}
		}
	}
	#container .cta-common.active {
		.container-action .content {
			&:before{
				transform:translateY(0px);
			}
			.container-el {
				transform: translateY(20px);
				box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
			}
			.container-el .el{
				@for $i from 1 to 10 {
				    &:nth-child(#{$i}) { transition-delay: $i * 0.1s; }
				}
				opacity: 1;
				transform: scale(1);
			}
		}
	}
	#container .cta-common .container-action .content {
		width: 245px;
		height: 80px;
	}
	#container .cta-common .container-action:before {
		content: none;
	}
	#container .cta-common .container-action .content .container-el .el {
		width: 50%;
	}
	#container .cta-common .container-action .content .container-el .el:nth-child(1) {
		border-radius: 10px 0 0 0;
	}
	#container .cta-common .container-action .content .container-el .el:nth-child(2) {
		border-radius: 0 10px 0 0;
	}
	/*
	#container .cta-common .container-action .content .container-el .el:nth-child(5) {
		border-radius: 0 0 0 10px;
	}
	#container .cta-common .container-action .content .container-el .el:nth-child(6) {
		border-radius: 0 0 10px 0;
	}
	*/
	#container .cta-common .container-action .content .container-el .el:last-child {
		width: 100%;
		border-radius: 0 0 10px 10px;
	}
	#container .cta-common .container-text {
		display: none;
	}
	#container .cta-common .container-action:before {
		transform: translateY(calc(-100% + 70px));
	}
	#container .cta-common .container-action .content .container-add {
		position: relative;
		padding: 25px 0;
		border-radius: 5px;
		top: 0;
		font-size: 35px;
		background-color: #F8CC6A;
		width: 70px;
		left: 50%;
    	transform: translateX(-50%);
	}
	#container .cta-common .container-action:hover .container-add {
		opacity: 1;
	}
	#container .cta-common .container-action .container-add img {
		transition-duration: 0.2s;
	}
	#container .cta-common.active .container-action .content .container-add img {
		transform: rotate(45deg) scale(1.1);
	}

	#container .cta-common .container-action .content .container-el {
		position: absolute;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		border-radius: 10px;
		background-color: #F8CC6A;
		width: 245px;
		height: 260px;
		transform: translateY(400px);
		transition-duration: 0.4s;
	}

	main #container .wrapper {
		top: 290px;
	}
}

/* ---------------------------------------------------------------- */
/* ********************* END DASHBOARD COMMON ********************* */
/* ---------------------------------------------------------------- */