/* ------------------------------------------------------------ */
/* ********************* DASHBOARD AGENTS ********************* */
/* ------------------------------------------------------------ */


.wrapper-tab-dashboard{

	justify-content: space-between;

	.container-el{
		width: 820px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.el{
			width: 400px;
			margin-bottom: 40px;

			.head{
				display: flex;
				flex-flow: row wrap;
				width: 100%;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 9px;


				&.head-2 {
					margin-top: 25px;
					height: 25px;
					h4{
						color: $colorMain_1;
						font-weight: bold;
					}
					.container-rslt {
						.rslt{ 
							color: #000;
						}
						.arrow svg {
							fill: #000;
						}
					}
				}

				&.marge {
					margin-top: 41px;
				}

				h4{
					font-size: 11px;
					line-height: 14px;
					font-family: $font_1;
					color: #FFF;
					text-transform: uppercase;
					font-weight: bold;
				}
				.container-rslt{
					position: relative;
					cursor: pointer;
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					.rslt{
						margin-right: 5px;
						@include styleParagraphSmall;
						opacity: 1;
						color: #fff;
						line-height: 24px;
					}
					.arrow {
						svg {
							fill: #fff;
							width: 8px;
							height: 8px;
						}
					}
					.dropdown {
						position: absolute;
						display: none;
						z-index: 10;
						top: 24px;
    					right: 0;
    					width: 150px;
    					height: 200px;
						background-color: #fff;
						border-radius: 4px;
						padding: 10px;
						box-shadow: 0 20px 40px 0 rgba(108,96,255,0.1);
						overflow-y: auto;
						overflow-x: hidden;
						
						&::-webkit-scrollbar {
						    width: 2px;
						}
						&::-webkit-scrollbar-thumb {
							background-color: grey;
							outline: 1px solid grey;
						}

						li {
							padding: 10px;
							border-radius: 4px;
							list-style: none;
							color: $colorMain_1;
							@include styleParagraphSmall;

							&:last-child {
								margin-bottom: 0;
							}

							&:hover {
								background-color: rgba(0,0,0,0.1);
							}
						}
					}

					&:hover {
						.dropdown {
							display: block;
						}
					}
				}
			}
			.container-ist{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 15px;
				border-radius: 5px;	
				background-color: #FFFFFF;

				&.row {
					flex-direction: row;
					height: 180px;
				}

				&.red {
					.container-line:before,
					.container-line:after{
						background-color: $colorMain_4;
					}
					.fill{
						background-color: $colorMain_4;
					}
				}

				&.blue {
					.container-line:before,
					.container-line:after{
						background-color: #15BBDF;
					}
					.fill{
						background-color: #15BBDF;
					}
				}
			
				.container-btn{
					display: flex;
					flex-flow: row wrap;
					.btn{
						cursor: pointer;
						height: 25px;
						@include styleParagraphSmall;
						border: 1px solid #D4D3E3;
						opacity: 1;
						line-height: 22px;
						&:nth-child(1){
							border-radius: 15px 0px 0px 15px;
							padding: 0px 7px 0px 16px;
						}
						&:nth-child(2){
							border-left:0px;
							border-radius: 0px 15px 15px 0px;
							padding: 0px 16px 0px 7px;
						}
						&.active{
							background-color: $colorMain_1;
							color: #FFF;
							border-color: $colorMain_1;
						}
					}
				}

				.chartdiv {
					position: relative;
					height: 192px !important;
					a {
						display: none !important;
					}

					.popupChart {
						padding: 0 10px;
						height: 45px;
						width: 170px;
						background-color: #FFFFFF;
						box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1);
						border-radius: 10px;

						display: flex;
						align-items: center;
						justify-content: space-around;

						position: absolute;
					    left: 50%;
					    transform: translateX(-50%);
					    top: 0px;

						li {
							list-style: none;

							&.point {
								width: 3px;
								height: 3px;
								border-radius: 50%;
								background-color: #D8D8D8;
							}

							&:first-child {
								font-family:ClanPro-Regular;
								font-size: 18px;
								color: $colorMain_1;
							}

							&:last-child {
								@include styleParagraphSmall();
								opacity: 1;
								span {
									color: $colorMain_1;
								}
							}
						}
					}
				}

				.container-pourcent {
					position: relative;
					display: flex;
					justify-content: space-between;
					align-items: center;

					.bullet {
						height: 8px;	
						width: 8px;	
						border-radius: 50%;
						margin-right: 15px;
						transform: translateY(-10px);

						&.blue {
							background-color: #15BBDF;
						}
						&.gray {
							background-color: $colorMain_1;
						}
					}

					.container-num{
						.num-prct{
							@include styleH3;
						}
						.num-lgd{
							@include styleParagraphSmall;
						}
						.graph{
							position: absolute;
						    right: 0;
						    top: 50%;
						    transform: translateY(-100%);
							display: flex;
							flex-flow: row wrap;
							align-items: center;
							span{
								font-size: 12px;	
								line-height: 15px;
								color: $colorMain_5;
								font-family: $font_2;
								margin-right: 5px;
							}
							&.neg span {
								color: #FF5555;
							}
						}
					}

					.container-stats{
						width: 235px;
						.container-subline{
							display: flex;
							flex-flow: row wrap;
							align-items: center;
							justify-content: space-between;
							.title{
								@include styleParagraphSmall;
								opacity: 1;
								color: $colorMain_1;
							}
							.graph{
								display: flex;
								flex-flow: row wrap;
								align-items: center;
								span{
									font-size: 12px;	
									line-height: 15px;
									color: $colorMain_5;
									font-family: $font_2;
									margin-right: 5px;
								}
							}
						}
						.container-line{
							position: relative;
							margin-top: 12px;
							&:before, 
							&:after{
								content:'';
								position: absolute;
								left: 50%;
								transform: translateX(-50%);
								height: 6px;
								width: 2px;
								border-radius: 4px;
							}
							&:before{
								bottom: calc(100% + 4px);
							}
							&:after{
								top: calc(100% + 4px);
							}
							.line{
								width: 100%;
								height: 4px;
								background-color: #F5F5F5;
								border-radius: 2px;
								overflow: hidden;
								.fill{
									height: 100%;
									border-radius: 2px;
								}
							}
							
						}
					}
				}

				.drone {
					display: flex;
					flex-direction: column; 
					align-items: center;
					justify-content: space-between;
					padding-right: 15px;
					border-right: 1px solid #E9E9F4;
					width: 55%;

					.container-title {
						@include styleParagraphSmall;
						opacity: 1;
						color: $colorMain_1;
					}
					.container-illu {
						height: 40px;	
						width: 110px;
						img {
							width: 100%;
							height: 100%;
						}
					}
					.container-action {
						display: flex;
						align-items: flex-start;
						img {
							height: 20px;	
							width: 20px;
						}
						.container-text {
							position: relative;
							margin-left: 10px;
							.container-title {
								@include styleParagraphSmall;
								opacity: 1;
								color: $colorMain_1;
							}
							.container-info {
								@include styleParagraphSmall;
								font-size: 13px;
							}
							img {
								position: absolute;
								height: 8px;	
								width: 8px;
								top: 8px;
								right: 0;
							}
						}
					}
				}

				.coord {
					display: flex;
					flex-direction: column; 
					align-items: center;
					justify-content: space-between;
					width: 45%;

					.container-title {
						@include styleParagraphSmall;
					}

					.container-coord {
						text-decoration: none;
						display: flex;
						align-items: center;
						justify-content: space-around;
						width: 90%;

						.coord {
							height: 20px;	
							width: 20px;
							border-radius: 4px;

							div {
								background-color: transparent !important;
							}
							a {
								display: none !important;
							}
						}

						.date {
							@include styleParagraphSmall;
							font-size: 12px;
						}

						.time {
							margin-left: 10px;
							display: flex;
							align-items: center;
							@include styleParagraphSmall;
							font-size: 12px;

							img {
								margin-left: 5px;
								height: 8px;	
								width: 8px;
							}
						}

						&:hover {
							.date {
								opacity: 1;
							}
							.time { 
								opacity: 1;
							}
						}
					}

					.container-action {
						display: flex;
						align-items: center;
						@include styleParagraphSmall;
						opacity: 1;
						color: $colorMain_1;
						text-decoration: none;
						img {
							margin-left: 10px;
							height: 8px;	
							width: 8px;
						}
					}
				}

				.col {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					.container-pourcent { 
						justify-content: flex-start;
					}
				}
			}
			
			.container-circle {
				position: relative;
				height: 148px;	
				width: 148px;
				display: flex;
				align-items: center;
				justify-content: center;

				.num-prct{
					@include styleH3;
					line-height: 30px;
				}
				.num-lgd{
					@include styleParagraphSmall;
					line-height: 15px;
				}

				svg {
					height: 148px;	
					width: 148px;
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					transform: rotate(-90deg);

					.circle-chart__background {
						stroke: $colorMain_1;
					}
					.circle-chart__circle {
						stroke: #15BBDF;
						animation: circle-chart-fill 1s reverse;
						transform-origin: center;
						stroke-dasharray: 100;
					}

					@keyframes circle-chart-fill {
						to { stroke-dashoffset: 100; }
					}
				}
			}
		}

		.goTop {
			margin-right: 30px;
			display: none;
			align-items: center;
			justify-content: center;
			background-color: #FFFFFF;
			border-radius: 5px;
			width: 86px;
			height: 50px;
			box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1);

			@include styleParagraphSmall();
			opacity: 1;
			color: $colorMain_1;
			font-weight: 500;

			.content-arrow {
				margin-right: 10px;
				width: 17px;
				height: 17px;
				border-radius: 50%;
				background-color: rgba(147, 123, 243, 0.1);

				display: flex;
				justify-content: center;
				align-items: center;

				img {
					height: 6px;
				}
			}
		}
	}

	.container-map {

		margin-top: 4px;
		width: 250px;
		height: 525px;

		.head{
			display: flex;
			flex-flow: row wrap;
			width: 100%;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 9px;

			h4{
				font-size: 11px;
				line-height: 14px;
				font-family: $font_1;
				color: #FFF;
				text-transform: uppercase;
				font-weight: bold;
			}
		}

		#map {
			margin-top: 15px;
			border-radius: 4px;
			width: 100%;
			height: 100%;

			.button {
				cursor: pointer;
				position: absolute;
				right: -15px;
				bottom: -25px;
				z-index: 100;
			}
		}
	}
}

@media screen and (max-width: 1250px) {

	.wrapper-tab-dashboard {
		flex-direction: column;
	}
	.wrapper-tab-dashboard .container-map .head h4 {
		color: $colorMain_1;
	}
	.wrapper-tab-dashboard .container-map {
		width: 100%;
		margin-bottom: 50px;
	}
	.wrapper-tab-dashboard .container-el {
		width: 700px;
	}
	.wrapper-tab-dashboard .container-el .el {
		width: 340px;
	}

}


@media screen and (max-width: 800px) {

	main.dashboard #container {
		padding: 0;
		margin-bottom: 75px;
	}
	#container .wrapper {
		padding: 0;
	}
	.wrapper-tab-dashboard {
		flex-direction: column;
	}
	.wrapper-tab-dashboard .container-el {
		width: 100%;
		justify-content: flex-end;
	}
	.wrapper-tab-dashboard .container-el .el {
		width: 100%;
	}
	.wrapper-tab-dashboard .container-el .el:nth-child(2) .head .container-rslt .rslt {
		color: #000;
	}
	.wrapper-tab-dashboard .container-el .el:nth-child(2) .head .container-rslt .arrow svg {
		fill: #000;
	}
	.wrapper-tab-dashboard .container-el .el .head {
		padding: 0 15px;
	}
	.wrapper-tab-dashboard .container-el .el:first-child .container-ist {
		padding: 0;
	}
	.wrapper-tab-dashboard .container-el .el:nth-child(2) .head h4,
	.wrapper-tab-dashboard .container-el .el:nth-child(3) .head h4 {
		color: $colorMain_1;
		font-weight: bold;
	}
	.wrapper-tab-dashboard .container-el .el:nth-last-child(3) .container-ist.row { 
		align-items: center;
		.col { height: 125px; }
	}
	.wrapper-tab-dashboard .container-el .el:nth-last-child(2) .container-ist.row {
		height: auto;
		flex-direction: column;

		.drone {
			padding: 15px;
			width: 100%;
			height: 165px;
			border-right: none;
			border-bottom: 1px solid #E9E9F4;
		
			.container-action {
				width: 100%;
				.container-text {
					width: 100%;
				}
			}
		}
		.coord {
			padding: 15px;
			width: 100%;
			.container-title {
				margin-bottom: 15px;
			}

			.container-coord {
				width: 100%;
				margin-bottom: 15px;
				justify-content: flex-start;

				.coord {
					padding: 0;
					margin-right: 10px;
					height: 20px;	
					width: 20px;
				}

				.time {
					margin-left: 40px;
					width: 65%;
					justify-content: space-between;
				}
			}

			.container-action {
				width: 100%;
				display: flex;
				justify-content: flex-end;
			}
		}
	}
	.wrapper-tab-dashboard .container-el .el .container-ist {
		padding-top: 0;
	}
	.wrapper-tab-dashboard .container-el .el .container-ist .container-btn {
		padding: 0 15px;
	}

	.wrapper-tab-dashboard .container-el .goTop {
		display: flex;
	}

	.wrapper-tab-dashboard .container-map {
		margin-top: 20px;
		width: 100%;
		height: 480px;

		#map {
			margin-top: 0;
		}
	}

	main #container .wrapper-tab-dashboard {
		z-index: 1;
		transform: translateY(-245px);
	}
}

/* ---------------------------------------------------------------- */
/* ********************* END DASHBOARD AGENTS ********************* */
/* ---------------------------------------------------------------- */