@font-face {
	font-family:ClanPro-Regular;
	src:url(../../fonts/ClanPro-Regular.woff);
}
@font-face {
	font-family:Lato-Regular;
	src:url(../../fonts/Lato-Regular.woff);
}
body, html, *
{
	padding: 0px;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body, html {
	width: 100%;
	height: 100%;

	position: relative;

	&.lightbox {
		overflow: hidden;
	}
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, i
{
	font-weight: normal;
	font-style: normal;
}
body.block
{
	overflow:hidden;
}

/* ------------------------------------------------------------- */
/* ********************* CONTAINER GENERAL ********************* */
/* ------------------------------------------------------------- */

main
{
	position: relative;
	width: 100%;
	overflow:hidden;
}

/* ----------------------------------------------------------------- */
/* ********************* END CONTAINER GENERAL ********************* */
/* ----------------------------------------------------------------- */


/* ----------------------------------------------------- */
/* ********************* VARIABLES ********************* */
/* ----------------------------------------------------- */

/*==============================
=            COLORS            =
==============================*/

	/*----------  MAIN COLORS  ----------*/
	$colorMain_1: #1C2D4F;
	$colorMain_2: #9B99BE;
	$colorMain_3: #937BF3;
	$colorMain_4: #E3667A;
	$colorMain_5: #35C850;
	$colorMain_6: #F8CC6A;


/*=====  End of COLORS  ======*/


/*=============================
=            FONTS            =
=============================*/

	$font_1: ClanPro-Regular;
	$font_2: Lato-Regular;

/*=====  End of FONTS  ======*/


/*=================================
=            TEXT SIZE            =
=================================*/

	/*----------  H1  ----------*/
		/*----------  DESKTOP  ----------*/
		$h1_textsize_desktop: 54px;
		$h1_lineheight_desktop: 64px;


	/*----------  H2  ----------*/
		/*----------  DESKTOP  ----------*/
		$h2_textsize_desktop: 32px;
		$h2_lineheight_desktop: 58px;


	/*----------  H3  ----------*/
		/*----------  DESKTOP  ----------*/
		$h3_textsize_desktop: 28px;
		$h3_lineheight_desktop: 40px;


	/*----------  H4  ----------*/
		/*----------  DESKTOP  ----------*/
		$h4_textsize_desktop: 26px;
		$h4_lineheight_desktop: 33px;


	/*----------  H5  ----------*/
		/*----------  DESKTOP  ----------*/
		$h5_textsize_desktop: 18px;
		$h5_lineheight_desktop: 22px;


	/*----------  PARAGRAPH BIG  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphBig_textsize_desktop: 18px;
		$paragraphBig_lineheight_desktop: 28px;


	/*----------  PARAGRAPH MDIUM  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphMedium_textsize_desktop: 16px;
		$paragraphMedium_lineheight_desktop: 24px;


	/*----------  PARAGRAPH SMALL  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphSmall_textsize_desktop: 13px;
		$paragraphSmall_lineheight_desktop: 16px;


	/*----------  LINK  ----------*/
		$link_textsize_desktop: 14px;
		$link_lineheight_desktop: 16px;

/*=====  End of TEXT SIZE  ======*/


/*============================
=            GRID            =
============================*/

	$grid_desktop_1: 1200px;
	$grid_desktop_2: 1100px;
	$grid_desktop_3: 1000px;
	$grid_desktop_4: 900px;

	$grid_tablet: 100%;
	$grid_mobile: 100%;

/*=====  End of GRID  ======*/


/*===================================
=            BREAK POINT            =
===================================*/

	$breakPoint_tablet: 1250px;
	$breakPoint_mobile: 700px;


/*=====  End of BREAK POINT  ======*/

/* --------------------------------------------------------- */
/* ********************* END VARIABLES ********************* */
/* --------------------------------------------------------- */

/* ------------------------------------------------- */
/* ********************* MIXIN ********************* */
/* ------------------------------------------------- */

	/*----------  FUNCTION  ----------*/
	/*
	@mixin rgba-background($hexcolor, $opacity) {
	  background-color: rgba($hexcolor, $opacity); 
	}*/

	/*----------  HEADING  ----------*/

		/*----------  H1  ----------*/
		@mixin styleH1{
			font-family: $font_1;
		  	color: $colorMain_1;

			@media screen and (min-width: $breakPoint_tablet){
				font-size: $h1_textsize_desktop;
				line-height: $h1_lineheight_desktop;
			}
			@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){}
			@media screen and (max-width: $breakPoint_mobile){}	
		}

		/*----------  H2  ----------*/
		@mixin styleH2{
			font-family: $font_1;
		  	color: $colorMain_1;
			font-size: $h2_textsize_desktop;
			line-height: $h2_lineheight_desktop;
		}

		/*----------  H3  ----------*/
		@mixin styleH3{
			font-family: $font_1;
		  	color: $colorMain_1;
			font-size: $h3_textsize_desktop;
			line-height: $h3_lineheight_desktop;
		}

		/*----------  H4  ----------*/
		@mixin styleH4{
			font-family: $font_1;
		  	color: $colorMain_1;
			font-size: $h4_textsize_desktop;
			line-height: $h4_lineheight_desktop;
		}

		/*----------  H5  ----------*/
		@mixin styleH5{
			font-family: $font_1;
		  	color: $colorMain_1;
			font-size: $h5_textsize_desktop;
			line-height: $h5_lineheight_desktop;
		}


		/*----------  PARAGRAPH BIG  ----------*/
		@mixin styleParagraphBig{
			font-family: $font_2;
		  	color: $colorMain_1;
			font-size: $paragraphBig_textsize_desktop;
			line-height: $paragraphBig_lineheight_desktop;
		}

		/*----------  PARAGRAPH MEDIUM  ----------*/
		@mixin styleParagraphMedium{
			font-family: $font_2;
		  	color: $colorMain_1;
			font-size: $paragraphMedium_textsize_desktop;
			line-height: $paragraphMedium_lineheight_desktop;
		}

		/*----------  PARAGRAPH SMALL  ----------*/
		@mixin styleParagraphSmall{
			font-family: $font_2;
		  	color: $colorMain_2;
		  	opacity: 0.6;
			font-size: $paragraphSmall_textsize_desktop;
			line-height: $paragraphSmall_lineheight_desktop;
		}


		/*----------  BUTTON  ----------*/
		@mixin button{
		  	padding: 11px 15px 11px 15px;
		  	border-radius: 4px;
		  	background-color: $colorMain_4;
			.btn-text{
				font-family: $font_2;
				font-size: $button_textsize_desktop;
				line-height: $button_lineheight_desktop;
			}
		}



		/*----------  GRID  ----------*/

			/*----------  SIZE 1  ----------*/
			@mixin styleGrid1{
				margin-right: auto;
				margin-left: auto;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_1;
				}
				@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
					width: $grid_tablet;
					padding-right: 50px;
					padding-left: 50px;
				}
				@media screen and (max-width: $breakPoint_mobile){
					width: $grid_mobile;
					padding-right: 25px;
					padding-left: 25px;
				}
			}

			/*----------  SIZE 2  ----------*/
			@mixin styleGrid2{
				margin-right: auto;
				margin-left: auto;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_2;
				}
				@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
					width: $grid_tablet;
					padding-right: 50px;
					padding-left: 50px;
				}
				@media screen and (max-width: $breakPoint_mobile){
					width: $grid_mobile;
					padding-right: 25px;
					padding-left: 25px;
				}
			}

			/*----------  SIZE 3  ----------*/
			@mixin styleGrid3{
				margin-right: auto;
				margin-left: auto;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_3;
				}
				@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
					width: $grid_tablet;
					padding-right: 50px;
					padding-left: 50px;
				}
				@media screen and (max-width: $breakPoint_mobile){
					width: $grid_mobile;
					padding-right: 25px;
					padding-left: 25px;
				}
			}

			/*----------  SIZE 4  ----------*/
			@mixin styleGrid4{
				margin-right: auto;
				margin-left: auto;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_4;
				}
				@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
					width: $grid_tablet;
					padding-right: 50px;
					padding-left: 50px;
				}
				@media screen and (max-width: $breakPoint_mobile){
					width: $grid_mobile;
					padding-right: 25px;
					padding-left: 25px;
				}
			}

/* ----------------------------------------------------- */
/* ********************* END MIXIN ********************* */
/* ----------------------------------------------------- */

/* -------------------------------------------------------- */
/* ********************* START SELECT ********************* */
/* -------------------------------------------------------- */

.s-hidden {
    visibility:hidden;
    padding-right:10px;
}
.select {
    cursor:pointer;
    display:inline-block;
    position:relative;
}
.styledSelect {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:white;
    padding:0 10px;
}
.styledSelect:after {
    content: " ";
	position: absolute;
	width: 5px;
    height: 5px;
    margin: 8px;
	border-right: 1.4px solid #0B1D4C;
	border-bottom: 1.4px solid #0B1D4C;
	right: 5%;
	transform: translateY(-50%) rotate(45deg);
}
.options {
    display:none;
    position:absolute;
    top:100%;
    right:0;
    left:0;
    z-index:999;
    list-style:none;
    background-color:white;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}
.options li {
    padding: 0 15px;
    line-height: 50px;
    border-bottom:0.5px solid #ccc;
}
.options li:hover {
    background-color: #E9E5FD;
}

/* ------------------------------------------------------ */
/* ********************* END SELECT ********************* */
/* ------------------------------------------------------ */

/* ---------------------------------------------------- */
/* ********************* LIGTHBOX ********************* */
/* ---------------------------------------------------- */

lightbox {
	position: fixed;
	display: none;
	flex-direction: column;
	align-items: center;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow-y: auto;

	background-color: rgba(32, 54, 96, 0.8);

	&.active {
		display: flex;
	}

	.close {
		cursor: pointer;
		padding: 50px 0;
		img {
			height: 20px;
			width: 20px;
			transform: rotate(45deg);
		}

		&:hover {
			opacity: 0.9;
		}
	}

	.box {
		position: absolute;
		top: 125px;
    	left: 50%;
    	transform: translateX(-50%);
		padding: 30px;
		flex-direction: column;
		align-items: center;
		display: none;
		width: 360px;	
		border-radius: 4px;	
		background-color: #FFFFFF;
		margin-bottom: 75px;

		&.active {
			display: flex;
		}

		.container-title {
			@include styleParagraphBig();

			&.under{
				width: 100%;
				text-align: center;
				margin-top: 25px;
				padding-bottom: 30px;
				border-bottom: 1px solid #E9E9F4;

				span {
					display: block;
					font-size: 13px;
					color: #9495A0;
				}
			}
		}

		.container-picto {
			margin-top: 25px;
			height: 69px;	
			width: 69px;
			img {
				border-radius: 4px;
				width: 100%;
				height: 100%;
			}
		}

		.infos-message {
			margin-top: 30px;
			width: 100%;
			display: flex;
			flex-direction: column;

			.container-name {
				@include styleH5();
			}

			.container-infos {
				display: flex;
				justify-content: space-between;

				font-family:Lato-Regular;
				font-size: 14px;
				color: #0B1D4C;
				span {
					@include styleParagraphSmall;
					font-size: 13px;
				}
			}
		}

		.container-form {
			width: 100%;
			margin-top: 30px;

			.input {
				margin-bottom: 25px;
				label {
					@include styleParagraphSmall;
					width: 100%;
					line-height: 24px;
				}

				input, .select, .styledSelect {
					padding: 15px;
					@include styleParagraphSmall;
					width: 100%;
					border: 0.5px solid #0B1D4C;	
					border-radius: 4px;	
					background-color: #FFFFFF;
					outline: none;
					opacity: 1;
					color: #1C2D4F;

					&:focus, &.active {
						transition-duration: 0.2s;
						background-color: #E9E5FD;
						border: 0.5px solid #E9E5FD;	

						option {
							background-color: #fff;
						}
					}
				}

				.select {
					padding: 14px;
				}

				input:read-only { 
					color: $colorMain_2;
				}

				.styledSelect {
					line-height: 18px;
				}

				.select {
					border: none;
				}
			}

			.date {
				input {
					width: 20%;
					&:nth-child(3) {
						width: 30%;
					}
					&::placeholder {
						color: #C2C6CF;		
					}
				}
			}

			.time {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.input {
					.hour {
						input {
							width: 55px;
						}
					}
				}

				.point {
					height: 4px;	
					width: 4px;	
					background-color: #D8D8D8;
				}
			}

			.container-action {
				margin-top: 30px;
				display: flex;
				justify-content: space-between;
				height: 50px;

				button, .button {
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					height: 50px;	
					width: 45%;	
					border-radius: 4px;
					outline: none;
					font-family:Lato-Regular;
					font-size: 13px;	
					font-weight: 500;

					&.cancel {
						border: 0.5px solid #0B1D4C;
						background-color: #fff;
						color: #0B1D4C;
					}

					&.delete {
						border: 0.5px solid $colorMain_4;
						background-color: $colorMain_4;
						color: #fff;
					}
					
					&.validate {
						border: 0.5px solid #35C850;
						background-color: #35C850;
						color: #fff;
					}

					&:hover {
						opacity: 0.8;
					}
				}
			}
		}

		&.delFacture {
			.container-infos {
				flex-direction: column;
			}
		}

		&.delDrone, &.modifDrone, &.delCapteur, &.modifCapteur {

			.container-picto {
				width: 100px;
			}

			.container-title.under {
				margin-top: 10px;
			}

			.container-infos {
				flex-wrap: wrap;
				justify-content: space-between;

				.numero {
					width: 100%;

					&.neg .color {
						display: inline;
						color: $colorMain_4;
					}
				}

				.by, .date {
					width: 50%;
					margin-top: 15px;
				
					.color {
						color: $colorMain_5;
					}

					img {
						opacity: 0.4;
						margin-left: 5px;
					}
				}
			}
		}

		&.addDrone {
			.container-picto {
				width: 100px;
			}
		}

		&.big {
			width: 725px;

			.container-title.under {
				width: 350px;
				.purple {
					color: #937BF3;
				}
			}

			.first {
				width: 100%;
				display: none;
				&.show {
					display: block;
				}
			}

			.last {
				width: 100%;
				display: none;
				&.show {
					display: block;
				}
			}

			table {
				padding: 30px 0;
				tr td {
					@include styleParagraphSmall();
					padding: 10px 50px 10px 0;
					opacity: 1;
					&:last-child {
						padding-left: 110px;
						padding-right: 0;
					}
				}

				tbody tr td, tfoot tr td {
					font-size: 13px;
					img {
						cursor: pointer;
						height: 12px;	
						width: 10px;
					}
				}

				tbody {
					tr td:first-child {
						color: $colorMain_1;
					}
				}
			}

			.line {
				width: 350px;
				margin: auto;
				height: 1px;
				background-color: #E9E9F4;
				margin-bottom: 40px;
			}

			form {

				.container-action {
					margin: auto;
					margin-top: 10px;
					width: 350px;
				}

				.row {
					display: flex;
					justify-content: space-between;
					.col {
						width: 300px;

						.row {
							.input {
								label {
									font-size: 13px;
								}
								input, select {
									width: 85px;
								}
								.select {
									padding: 14px;
								}
								&:first-child {
									width: 100px;
									margin-right: 16px;
								}
							}
						}
					}
				}
			}
		}

		&.delClient, &.modifClient {
			.container-picto img {
				border-radius: 22px;
			}
			.container-infos .numero {
				font-size: 13px;
				color: #9495A0;
			}
		}

		&.modifClient {
			.container-title.under {
				border-bottom: 0;
				padding-bottom: 0;
			}
		}

		&.addFacture {
			.container-title.under span {
				display: inline;
			}
		}

		&.addClient {
			.container-picto {
				position: relative;
				.parcourir {
					cursor: pointer;
					position: absolute;
					transform: translateX(30%) translateY(30%);
					right: 0;
					bottom: 0;
					height: 35px;
					width: 35px;
					border-radius: 10px;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: $colorMain_1;

					&:after {
						content: " ";
						position: absolute;
						top: -4px;
						left: -4px;
						width: 39px;
						height: 39px;
						border-radius: 12px;
						border: 2px solid $colorMain_4;
					}

					img {
						border-radius: 0;
						height: 13px;
						width: 15px;
					}
				}
			}
		}

		&.payerFacture {
			.container-title {
				z-index: 1;
				&:after {
					content: " ";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 140px;
					border-radius: 4px 4px 0 0;
					background-color: #E9E9F4;
					z-index: -1;
				}
			}

			ul {
				z-index: 1;
				margin-top: 10px;
				li {
					text-align: center;
					list-style: none;
					@include styleParagraphSmall();
					opacity: 1;
					span {
						color : $colorMain_1;
					}
				}
			}

			.container-form {
				margin-top: 70px;
				.input {
					position: relative;
					input {
						padding-left: 40px;
					}

					img {
						position: absolute;
						top: 50%;
						left: 10px;
						transform: translateY(-50%);
					}

					&.top {
						margin: 0;
						input {
							border-radius: 4px 4px 0 0;
							border-bottom: 0.5px solid #E9E9F4;

							&:focus {
								border-radius: 4px 4px 0 0;
								border: 1px solid #0B1D4C;
								border-bottom: 0.5px solid #E9E9F4;
							}
						}
					}

					&.check {
						position: relative;
						display: flex;
						justify-content: flex-start;
						align-items: center;
						font-size: 14px;
						font-family: Lato-regular;
						color: #1C2D4F;
						input {
							position: relative;
							height: 10px;	
							width: 10px;
							margin-right: 20px;
						
							&[type="checkbox"]:checked {
								+ span {
									background-color: #E9E9F4;
								} 
							}
						}
						span {
							position: absolute;
							top: 0;
							left: 0;
							height: 15px;	
							width: 15px;	
							border: 0.5px solid #152654;	
							border-radius: 4px;
							background-color: #fff;
						}
					}
				}

				.row {
					position: relative;
					display: flex;
					.input {
						width: 50%;
						input {
							border-top: 0.5px solid #E9E9F4;

							&:focus {
								border-top: 0.5px solid #E9E9F4;
							}
						}
						&.left input {
							border-radius: 0 0 0 4px;
							border-right: 0.5px solid #E9E9F4;

							&:focus {
								border: 1px solid #0B1D4C;
								border-radius: 0 0 0 4px;
								border-top: 0.5px solid #E9E9F4;
								border-right: 0.5px solid #E9E9F4;
							}
						}

						&.right input {
							border-radius: 0 0 4px 0;
							border-left: 0.5px solid #E9E9F4;

							&:focus {
								border: 1px solid #0B1D4C;
								border-radius: 0 0 4px 0;
								border-top: 0.5px solid #E9E9F4;
								border-left: 0.5px solid #E9E9F4;
							}
						}
					}

					&:after {
						content: " ";
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						bottom: 25px;
						width: 5px;
						height: 1.5px;
						background-color: #0B1D4C;
					}
				}
				.container-action {
					button {
						width: 100%;
					}
				}
			}
		}

		&.infoClient {

			.container-infos {
				display: flex;
				align-items: flex-start;
				width: 100%;

				.container-img {
					height: 70px;	
					width: 70px;
					margin-right: 20px;
					img {
						width: 100%;
						border-radius: 20px;
					}
				}

				.row-n-col {
					display: flex;
					flex-direction: column;
				}

				.container-base {
					margin-right: 70px;
					.name {
						@include styleParagraphBig();
						line-height: 15px;
					}
					.row {
						@include styleParagraphSmall();
						font-size: 13px;
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 350px;
						.point {
							height: 4px;	
							width: 4px;	
							background-color: #D8D8D8;
							border-radius: 50%;
						}
						.online {
						}
					}
				}

				.container-exploitations {
					display: flex;
					align-items: center;
					justify-content: space-between;
					@include styleParagraphSmall();
					opacity: 1;
					color: $colorMain_1;
					margin-top: 5px;
					padding-bottom: 20px;
					border-bottom: 2px solid #E9E9F4;
					.exploitation {
						margin-right: 35px;

						span {
							margin-left: 10px;
							color: $colorMain_5;
						}

						img:nth-child(3) {
							display: none;
						}

						&.neg {
							span {
								color: $colorMain_4;
							}
							
							img:nth-child(2) {
								display: none;
							}
							
							img:nth-child(3) {
								display: initial;
							}
						}
					}
				}

				.container-perso {
					padding-top: 15px;
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					@include styleParagraphSmall();
					opacity: 1;
					line-height: 15px;
					color: $colorMain_1;
					margin-top: 5px;
					.perso {
						width: 175px;
						span {
							color: $colorMain_2;
							a {
								text-decoration: none;
							}
						}
					}
				}
			}

			.map {
				margin-top: 25px;
				cursor: pointer;
				height: 455px;
				width: 100%;
				border-radius: 5px;
			}
		}

		&.zoomDashboard {
			justify-content: center;
			width: 800px;
			.map {
				height: 630px;	
				width: 740px;
			}

			.container-zoom {
				top: calc(100% - 120px) !important;
				left: calc(100% - 60px) !important;
			}
		}

		&.infoDrone, &.infoCapteur, &.infoAgents {
			align-items: flex-start;
			flex-flow: row wrap;
			justify-content: space-around;
			width: 825px;
			.container-base {
				padding-bottom: 20px;
				border-bottom: 1px solid #E9E9F4;
				.name {
					@include styleParagraphBig();
				}
				.row {
					@include styleParagraphSmall();
					opacity: 1;
					font-size: 13px;
					li a {
						text-decoration: none;
					}
				}
			}

			.content {
				display: flex;
				align-items: center;
				justify-content: space-between;
				@include styleParagraphSmall();
				opacity: 1;
				color: $colorMain_1;
				margin: 20px 0;

				li {
					list-style: none;
					span {
						margin-left: 5px;
						color: $colorMain_2;
					}
				}
			}

			.map {
				a {
					display: none !important;
				}
			}

			.container-action {
				cursor: pointer;
				position: absolute;
				z-index: 1;
				right: 35px;
				@include styleParagraphSmall();
				opacity: 1;
				line-height: 24px;
				&:after {
					content: " ";
					position: absolute;
					top: -5px;
					right: -20px;
					width: 5px;
					height: 5px;
					margin: 8px;
					border-right: 1.4px solid $colorMain_2;
					border-bottom: 1.4px solid $colorMain_2;
					transform: translateY(75%) rotate(45deg);
				}

				.dropdown {
					position: absolute;
					display: none;
					flex-direction: column;
					align-items: baseline;
					top: 35px;
					right: -15px;
					width: 145px;	
					border-radius: 8px;	
					background-color: #FFFFFF;
					box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1);

					.action {
						display: flex;
						align-items: center;
						padding: 10px;
						margin: 5px;
						border-radius: 4px;
						width: 135px;

						@include styleParagraphSmall;
						opacity: 1;
						color: #1C2D4F;
						line-height: 0;

						img {
							margin-right: 10px;
							height: 12px;	
							width: 14px;
						}

						&:hover {
							background-color: rgba(0,0,0,0.1);
						}
					}
				}

				&:hover {
					color: $colorMain_1;
					&:after {
						border-right: 1.4px solid $colorMain_1;
						border-bottom: 1.4px solid $colorMain_1;
					}
					.dropdown {
						display: flex;
					}
				}
			}

			.container-infos {
				display: flex;
				align-items: flex-start;
				width: 100%;

				.container-img {
					height: 70px;	
					width: 70px;
					margin-right: 20px;
					padding-top: 10px;
					img {
						width: 100%;
						border-radius: 20px;
					}
				}

				.row-n-col {
					display: flex;
					flex-direction: column;
				}

				.container-base {
					.name {
						line-height: 15px;
					}
					.row {
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 250px;

						.color {
							color: $colorMain_5;
						}

						.point {
							height: 4px;	
							width: 4px;	
							background-color: #D8D8D8;
							border-radius: 50%;
						}

						&.blue {
							color: $colorMain_1;
						}

						&.neg .color {
							color: $colorMain_4;
						}

						li {
							list-style: none;
						}
					}
				}

				.content {
					width: 550px;
				}
			}

			.map {
				cursor: pointer;
				height: 450px;	
				width: 350px;
				border-radius: 5px;

				.button {
					cursor: pointer;
					position: absolute;
					right: 0;
					bottom: 0;
					z-index: 100;
				}
			}

			.container-action {
				padding-left: 20px;
				padding-bottom: 20px;
				top: calc(20px + 15px);
				transform: translateY(-50%);
			}


			.messages-list {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 400px;
				ul {
					li {
						position: relative;
						list-style: none;
						display: flex;
						align-items: center;
						padding: 22.5px 20px;
						cursor: pointer;

						&:first-child {
							padding-top: 10px;
						}

						&:last-child {
							margin-bottom: 10px;
						}

						.logo {
							.nohover {
								display: block;
							}
							.hover {
								display: none;
							}
						}
						&:hover {

							background-color: #E9E9F4;

							.logo {
								.hover {
									display: block;
								}
								.nohover {
									display: none;
								}
							}
						}

						.container-text {
							margin-left: 10px;

							h3 {
								font-family:Lato-Regular;
								font-size: 14px;
								color: #0B1D4C;
							}

							p {
								@include styleParagraphSmall;
								font-size: 13px;
								line-height: 20px;
								width: 275px;
							}
						}

						&:after {
							content: " ";
							position: absolute;
							width: 4px;
							height: 4px;
							margin: 8px;
							border-right: 1.4px solid #0B1D4C;
							border-bottom: 1.4px solid #0B1D4C;
							right: 0;
							transform: translateY(-130%) rotate(-45deg);
						}
					}
				}

				.button {
					cursor: pointer;
					@include styleParagraphSmall;
					font-size: 13px;
					opacity: 1;
					color :$colorMain_1;
					height: 50px;	
					width: 105px;	
					border: 0.5px solid #0B1D4C;	
					border-radius: 4px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}

		&.infoAgents {

			.row-n-col {
				width: 100%
			}

			.container-infos {
				position: relative;
				z-index: 1;
			}

			.container-infos .container-img {
				padding-top: 0;
			}

			.container-infos .container-base .row {
				width: 400px;

				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
					li {
						cursor: pointer;
						position: relative;
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 200px;
						padding-bottom: 15px;

						span {
							color: $colorMain_4;
						}

						.dropdown {
							display: none;
							padding: 15px;
							position: absolute;
							top: 30px;
							left: -10px;
							width: 235px;
							height: 155px;
							border-radius: 8px;
							background-color: #FFFFFF;
							box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1);

							li {
								font-size: 14px;
								justify-content: flex-start;
								margin-bottom: 10px;
								border-radius: 5px;
								padding: 10px;
								.point {
									margin-right: 15px;
									height: 4px;	
									width: 4px;	
									border-radius: 50%;
									background-color: $colorMain_5;
								}

								&:last-child {
									margin-bottom: 0;
								}

								&.neg {
									color: $colorMain_1;
									.point {
										background-color: $colorMain_4;
									}
								}

								&:hover {
									background-color: rgba(155,153,190,0.2);
								}
							}
						}

						&:hover {
							.dropdown {
								display: block;
							}
						}
					}
				}
			}

			.container-exploitations {
				margin-top: 10px;
				width: 90%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				@include styleParagraphSmall();
				opacity: 1;
				color: $colorMain_1;

				.exploitation {
					span {
						margin-left: 10px;
						color: $colorMain_5;
					}

					img:nth-child(3) {
						display: none;
					}

					&.neg {
						span {
							color: $colorMain_4;
						}
						
						img:nth-child(2) {
							display: none;
						}
						
						img:nth-child(3) {
							display: initial;
						}
					}
				}

				.point {
					height: 4px;	
					width: 4px;
					border-radius: 50%;	
					background-color: #D8D8D8;
				}
			}

			.map {
				position: relative;
				z-index: 0;
				margin-top: 35px;
				width: 100%;
				height: 455px;
			}
		}
	}
}


/* ------------------------------------------- */
/* ***************** MAP ********************* */
/* ------------------------------------------- */
.gm-style-iw {
   width: 200px !important;
   height: 225px !important;
   z-index: 1;
   top: 30px !important;
   left: 25px !important;
   background-color: transparent;
   box-shadow: none;

   div div {
   		overflow: hidden !important;
   }
}

#content {
	overflow: hidden;
	width: 195px;
	height: 225px;
   	border-radius: 4px;

	.firstHeading {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		height: 58px;	
		border-radius: 4px 4px 0 0;
		background-color: #1C2D4F;
		color: #FFFFFF;	
		font-family:ClanPro-Regular;
		font-size: 11px;	
		font-weight: 500;
		text-transform: uppercase;

		img {	
			position: absolute;
			height: 35px;
			width: 35px;
			border-radius: 50%;
			top: 50%;
			left: 50%;
			transform: translateY(30%) translateX(-50%);
		}
	}

	.body {
		padding: 30px 15px 15px 15px;
		height: 100%;
		background-color: #fff;

		display: flex;
		flex-direction: column;

		.container-info {
			padding-bottom: 10px;
			@include styleParagraphSmall();
			opacity: 1;
			line-height: 20px;
			width: 170px;
			border-bottom: 1px solid #E9E9F4;
			color: #9495A0;
			.type {

			}

			.info {

				display: flex;
				justify-content: space-between;

				.left {
					font-size: 14px;
					color: #0B1D4C;
				}
				.right {
					width: 45px;
					color: #35C850;

					img {
						margin-left: 5px;
					}
				}
			}
		}

		.container-adress {
			width: 170px;
			padding-top: 10px;
			@include styleParagraphSmall();
			opacity: 1;
			color: #9495A0;
		}
	}

}

/* ----------------------------------------------- */
/* ***************** END MAP ********************* */
/* ----------------------------------------------- */


@media screen and (max-width: 800px) {

	.lightbox .box {
		width: 300px;

		.container-form .container-action {
			flex-direction: column;
			height: auto;
			button, .button {
				width: 100%;

				&:first-child {
					margin-bottom: 25px;
				}
			}
		}

		&.big {
			width: 100%;

			.container-title.under {
				width: 100%;
			}

			.container-form {
				.container-action {
					width: 100%;
				}
				.row {
					flex-direction: column;
					.col {
						width: 100%;
						.row {
							flex-direction: row;
							.input {
								width: 100px;
							}
						}
					}
				}
			}

			.line {
				width: 100%;
			}

			table tr td {
				padding-right: 0;

				&:last-child {
					padding-left: 0;
				}
			}
		}

		.map {
			width: 100% !important;
		}
	
		&.payerFacture .container-form .container-action {
			height: 50px;
			flex-direction: row;
			button {
				margin-bottom: 0;
			}
		}

		&.infoAgents .container-infos,
		&.infoClient .container-infos {

			.row-n-col {
				width: auto;
			}

			.container-exploitations {
				flex-direction: column;
				align-items: flex-start;
				border:none;

				.exploitation {
					margin-bottom: 10px;
				}

				.point {
					display: none;
				}
			}
			.container-base {
				margin-right: 0;
				.row {
					flex-direction: column;
					align-items: flex-start;
					width: 225px;
					li:last-child, .capteur {
						display: none;
					}

					.point {
						display: none;
					}

					.point:nth-last-child(2) {
						display: none;
					}
				}
			}
			.container-perso {
				display: none;
			}
		}
	}
}