@font-face {
	font-family:ClanPro-Regular;
	src:url(../../fonts/ClanPro-Regular.ttf);
}
@font-face {
	font-family:Lato-Regular;
	src:url(../../fonts/Lato-Regular.ttf);
}
body, html, *
{
	padding: 0px;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body, html {
	width: 100%;
	height: 100%;

	&.lightbox {
		overflow: hidden;
	}
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, i
{
	font-weight: normal;
	font-style: normal;
}
body.block
{
	overflow:hidden;
}

/* ------------------------------------------------------------- */
/* ********************* CONTAINER GENERAL ********************* */
/* ------------------------------------------------------------- */

main
{
	position: relative;
	width: 100%;
	overflow:hidden;
}

/* ----------------------------------------------------------------- */
/* ********************* END CONTAINER GENERAL ********************* */
/* ----------------------------------------------------------------- */


/* ----------------------------------------------------- */
/* ********************* VARIABLES ********************* */
/* ----------------------------------------------------- */

/*==============================
=            COLORS            =
==============================*/

	/*----------  MAIN COLORS  ----------*/
	$colorMain_1: #1C2D4F;
	$colorMain_2: #9495A0;
	$colorMain_3: #937BF3;
	$colorMain_4: #E3667A;
	$colorMain_5: #35C850;
	$colorMain_6: #F8CC6A;


/*=====  End of COLORS  ======*/


/*=============================
=            FONTS            =
=============================*/

	$font_1: ClanPro-Regular;
	$font_2: Lato-Regular;

/*=====  End of FONTS  ======*/


/*=================================
=            TEXT SIZE            =
=================================*/

	/*----------  H1  ----------*/
		/*----------  DESKTOP  ----------*/
		$h1_textsize_desktop: 54px;
		$h1_lineheight_desktop: 64px;


	/*----------  H2  ----------*/
		/*----------  DESKTOP  ----------*/
		$h2_textsize_desktop: 32px;
		$h2_lineheight_desktop: 58px;


	/*----------  H3  ----------*/
		/*----------  DESKTOP  ----------*/
		$h3_textsize_desktop: 28px;
		$h3_lineheight_desktop: 40px;


	/*----------  H4  ----------*/
		/*----------  DESKTOP  ----------*/
		$h4_textsize_desktop: 26px;
		$h4_lineheight_desktop: 33px;


	/*----------  H5  ----------*/
		/*----------  DESKTOP  ----------*/
		$h5_textsize_desktop: 18px;
		$h5_lineheight_desktop: 22px;


	/*----------  PARAGRAPH BIG  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphBig_textsize_desktop: 18px;
		$paragraphBig_lineheight_desktop: 28px;


	/*----------  PARAGRAPH MDIUM  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphMedium_textsize_desktop: 16px;
		$paragraphMedium_lineheight_desktop: 24px;


	/*----------  PARAGRAPH SMALL  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphSmall_textsize_desktop: 14px;
		$paragraphSmall_lineheight_desktop: 24px;


	/*----------  LINK  ----------*/
		$link_textsize_desktop: 14px;
		$link_lineheight_desktop: 16px;

/*=====  End of TEXT SIZE  ======*/


/*============================
=            GRID            =
============================*/

	$grid_desktop_1: 1200px;
	$grid_desktop_2: 1100px;
	$grid_desktop_3: 1000px;
	$grid_desktop_4: 900px;

	$grid_tablet: 100%;
	$grid_mobile: 100%;

/*=====  End of GRID  ======*/


/*===================================
=            BREAK POINT            =
===================================*/

	$breakPoint_tablet: 1250px;
	$breakPoint_mobile: 700px;


/*=====  End of BREAK POINT  ======*/

/* --------------------------------------------------------- */
/* ********************* END VARIABLES ********************* */
/* --------------------------------------------------------- */

/* ------------------------------------------------- */
/* ********************* MIXIN ********************* */
/* ------------------------------------------------- */

	/*----------  FUNCTION  ----------*/
	/*
	@mixin rgba-background($hexcolor, $opacity) {
	  background-color: rgba($hexcolor, $opacity); 
	}*/

	/*----------  HEADING  ----------*/

		/*----------  H1  ----------*/
		@mixin styleH1{
			font-family: $font_1;
		  	color: $colorMain_1;

			@media screen and (min-width: $breakPoint_tablet){
				font-size: $h1_textsize_desktop;
				line-height: $h1_lineheight_desktop;
			}
			@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){}
			@media screen and (max-width: $breakPoint_mobile){}	
		}

		/*----------  H2  ----------*/
		@mixin styleH2{
			font-family: $font_1;
		  	color: $colorMain_1;
			font-size: $h2_textsize_desktop;
			line-height: $h2_lineheight_desktop;
		}

		/*----------  H3  ----------*/
		@mixin styleH3{
			font-family: $font_1;
		  	color: $colorMain_1;
			font-size: $h3_textsize_desktop;
			line-height: $h3_lineheight_desktop;
		}

		/*----------  H4  ----------*/
		@mixin styleH4{
			font-family: $font_1;
		  	color: $colorMain_1;
			font-size: $h4_textsize_desktop;
			line-height: $h4_lineheight_desktop;
		}

		/*----------  H5  ----------*/
		@mixin styleH5{
			font-family: $font_1;
		  	color: $colorMain_1;
			font-size: $h5_textsize_desktop;
			line-height: $h5_lineheight_desktop;
		}


		/*----------  PARAGRAPH BIG  ----------*/
		@mixin styleParagraphBig{
			font-family: $font_2;
		  	color: $colorMain_1;
			font-size: $paragraphBig_textsize_desktop;
			line-height: $paragraphBig_lineheight_desktop;
		}

		/*----------  PARAGRAPH MEDIUM  ----------*/
		@mixin styleParagraphMedium{
			font-family: $font_2;
		  	color: $colorMain_1;
			font-size: $paragraphMedium_textsize_desktop;
			line-height: $paragraphMedium_lineheight_desktop;
		}

		/*----------  PARAGRAPH SMALL  ----------*/
		@mixin styleParagraphSmall{
			font-family: $font_2;
		  	color: $colorMain_2;
		  	opacity: 0.6;
			font-size: $paragraphSmall_textsize_desktop;
			line-height: $paragraphSmall_lineheight_desktop;
		}


		/*----------  BUTTON  ----------*/
		@mixin button{
		  	padding: 11px 15px 11px 15px;
		  	border-radius: 4px;
		  	background-color: $colorMain_4;
			.btn-text{
				font-family: $font_2;
				font-size: $button_textsize_desktop;
				line-height: $button_lineheight_desktop;
			}
		}



		/*----------  GRID  ----------*/

			/*----------  SIZE 1  ----------*/
			@mixin styleGrid1{
				margin-right: auto;
				margin-left: auto;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_1;
				}
				@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
					width: $grid_tablet;
					padding-right: 50px;
					padding-left: 50px;
				}
				@media screen and (max-width: $breakPoint_mobile){
					width: $grid_mobile;
					padding-right: 25px;
					padding-left: 25px;
				}
			}

			/*----------  SIZE 2  ----------*/
			@mixin styleGrid2{
				margin-right: auto;
				margin-left: auto;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_2;
				}
				@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
					width: $grid_tablet;
					padding-right: 50px;
					padding-left: 50px;
				}
				@media screen and (max-width: $breakPoint_mobile){
					width: $grid_mobile;
					padding-right: 25px;
					padding-left: 25px;
				}
			}

			/*----------  SIZE 3  ----------*/
			@mixin styleGrid3{
				margin-right: auto;
				margin-left: auto;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_3;
				}
				@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
					width: $grid_tablet;
					padding-right: 50px;
					padding-left: 50px;
				}
				@media screen and (max-width: $breakPoint_mobile){
					width: $grid_mobile;
					padding-right: 25px;
					padding-left: 25px;
				}
			}

			/*----------  SIZE 4  ----------*/
			@mixin styleGrid4{
				margin-right: auto;
				margin-left: auto;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_4;
				}
				@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
					width: $grid_tablet;
					padding-right: 50px;
					padding-left: 50px;
				}
				@media screen and (max-width: $breakPoint_mobile){
					width: $grid_mobile;
					padding-right: 25px;
					padding-left: 25px;
				}
			}

/* ----------------------------------------------------- */
/* ********************* END MIXIN ********************* */
/* ----------------------------------------------------- */


/* ---------------------------------------------------- */
/* ********************* LIGTHBOX ********************* */
/* ---------------------------------------------------- */

lightbox {
	position: fixed;
	display: none;
	flex-direction: column;
	align-items: center;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(32, 54, 96, 0.8);

	&.active {
		display: flex;
	}

	.close {
		cursor: pointer;
		margin-top: 50px;
		height: 20px;	
		width: 20px;
		img {
			height: 100%;
			width: 100%;
			transform: rotate(45deg);
		}

		&:hover {
			opacity: 0.9;
		}
	}

	.box {
		position: relative;
		padding: 30px;
		flex-direction: column;
		align-items: center;
		margin-top: 50px;
		display: none;
		width: 360px;	
		border-radius: 4px;	
		background-color: #FFFFFF;

		&.active {
			display: flex;
		}

		.container-title {
			@include styleH5();

			&.under{
				width: 100%;
				text-align: center;
				margin-top: 25px;
				padding-bottom: 25px;
				border-bottom: 1px solid #E9E9F4;
			}
		}

		.container-picto {
			margin-top: 25px;
			height: 69px;	
			width: 69px;
			img {
				border-radius: 4px;
				width: 100%;
				height: 100%;
			}
		}

		.infos-message {
			margin-top: 25px;
			width: 100%;
			display: flex;
			flex-direction: column;

			.container-name {
				@include styleH5();
			}

			.container-infos {
				display: flex;
				justify-content: space-between;

				font-family:Lato-Regular;
				font-size: 14px;
				color: #0B1D4C;
				span {
					@include styleParagraphSmall;
					font-size: 12px;
				}
			}
		}

		.container-form {
			width: 100%;
			margin-top: 35px;

			.input {
				margin-bottom: 25px;
				label {
					@include styleParagraphSmall;
					width: 100%;
				}

				input, select {
					padding-left: 15px;
					@include styleParagraphSmall;
					width: 100%;
					height: 50px;
					border: 0.5px solid #0B1D4C;	
					border-radius: 4px;	
					background-color: #FFFFFF;
					outline: none;
					opacity: 1;
					color: #1C2D4F;

					&:focus {
						background-color: #E9E5FD;
						border: 0.5px solid #E9E5FD;	

						option {
							background-color: #fff;
						}
					}
				}
			}

			.date {
				input {
					width: 20%;
					&:nth-child(3) {
						width: 30%;
					}
				}
			}

			.time {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.input {
					.hour {
						input {
							width: 55px;
						}
					}
				}

				.point {
					height: 4px;	
					width: 4px;	
					background-color: #D8D8D8;
				}
			}

			.container-action {
				display: flex;
				justify-content: space-between;
				height: 50px;

				button, .button {
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					height: 50px;	
					width: 45%;	
					border-radius: 4px;
					outline: none;
					font-family:Lato-Regular;
					font-size: 13px;	
					font-weight: 500;

					&.cancel {
						border: 0.5px solid #0B1D4C;
						background-color: #fff;
						color: #0B1D4C;
					}

					&.delete {
						border: 0.5px solid $colorMain_4;
						background-color: $colorMain_4;
						color: #fff;
					}
					
					&.validate {
						border: 0.5px solid #35C850;
						background-color: #35C850;
						color: #fff;
					}

					&:hover {
						opacity: 0.8;
					}
				}
			}
		}

		&.delFacture {
			.container-infos {
				flex-direction: column;
			}
		}

		&.big {
			width: 725px;

			.container-title.under {
				width: 350px;
				.purple {
					color: #937BF3;
				}
			}

			.first {
				width: 100%;
				display: none;
				&.show {
					display: block;
				}
			}

			.last {
				width: 100%;
				display: none;
				&.show {
					display: block;
				}
			}

			table {
				padding: 30px 0;
				tr td {
					@include styleParagraphSmall();
					padding: 10px 50px 10px 0;
					opacity: 1;
				}

				tbody tr td, tfoot tr td {
					font-size: 13px;
					img {
						cursor: pointer;
						height: 12px;	
						width: 10px;
					}
				}

				tbody {
					tr td:first-child {
						color: $colorMain_1;
					}
				}
			}

			.line {
				width: 350px;
				margin: auto;
				height: 1px;
				background-color: #E9E9F4;
				margin-bottom: 40px;
			}

			form {

				.container-action {
					margin: auto;
					width: 350px;
				}

				.row {
					display: flex;
					justify-content: space-between;
					.col {
						width: 300px;

						.row {
							.input {
								label {
									font-size: 13px;
								}
								input, select {
									width: 85px;
								}
							}
						}
					}
				}
			}
		}

		&.payerFacture {
			.container-title {
				z-index: 1;
				&:after {
					content: " ";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 140px;
					border-radius: 4px 4px 0 0;
					background-color: #E9E9F4;
					z-index: -1;
				}
			}

			ul {
				z-index: 1;
				margin-top: 10px;
				li {
					text-align: center;
					list-style: none;
					@include styleParagraphSmall();
					opacity: 1;
					span {
						color : $colorMain_1;
					}
				}
			}

			.container-form {
				margin-top: 70px;
				.input {
					position: relative;
					input {
						padding-left: 40px;
					}

					img {
						position: absolute;
						top: 50%;
						left: 10px;
						transform: translateY(-50%);
					}

					&.top {
						margin: 0;
						input {
							border-radius: 4px 4px 0 0;
							border-bottom: 0.5px solid #E9E9F4;

							&:focus {
								border-radius: 4px 4px 0 0;
								border: 1px solid #0B1D4C;
								border-bottom: 0.5px solid #E9E9F4;
							}
						}
					}

					&.check {
						position: relative;
						display: flex;
						justify-content: flex-start;
						align-items: center;
						input {
							position: relative;
							height: 10px;	
							width: 10px;
							margin-right: 20px;

							&:after {
								content: " ";
								position: absolute;
								top: -4px;
    							left: 0px;
								height: 15px;	
								width: 15px;	
								border: 0.5px solid #152654;	
								border-radius: 4px;
								background-color: #fff;
							}

							&[type="checkbox"]:checked {
								&:after {
									background-color: #E9E9F4;
								} 
							}
						}
					}
				}

				.row {
					position: relative;
					display: flex;
					.input {
						width: 50%;
						input {
							border-top: 0.5px solid #E9E9F4;

							&:focus {
								border-top: 0.5px solid #E9E9F4;
							}
						}
						&.left input {
							border-radius: 0 0 0 4px;
							border-right: 0.5px solid #E9E9F4;

							&:focus {
								border: 1px solid #0B1D4C;
								border-radius: 0 0 0 4px;
								border-top: 0.5px solid #E9E9F4;
								border-right: 0.5px solid #E9E9F4;
							}
						}

						&.right input {
							border-radius: 0 0 4px 0;
							border-left: 0.5px solid #E9E9F4;

							&:focus {
								border: 1px solid #0B1D4C;
								border-radius: 0 0 4px 0;
								border-top: 0.5px solid #E9E9F4;
								border-left: 0.5px solid #E9E9F4;
							}
						}
					}

					&:after {
						content: " ";
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						bottom: 25px;
						width: 5px;
						height: 1.5px;
						background-color: #0B1D4C;
					}
				}
				.container-action {
					button {
						width: 100%;
					}
				}
			}
		}
	}
}


/* ------------------------------------------- */
/* ***************** MAP ********************* */
/* ------------------------------------------- */
.gm-style-iw {
   width: 200px !important;
   height: 225px !important;
   z-index: 1;
   top: 30px !important;
   left: 25px !important;
   background-color: transparent;
   box-shadow: none;

   div div {
   		overflow: hidden !important;
   }
}

#content {
	overflow: hidden;
	width: 195px;
	height: 225px;
   	border-radius: 4px;

	.firstHeading {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		height: 58px;	
		border-radius: 4px 4px 0 0;
		background-color: #1C2D4F;
		color: #FFFFFF;	
		font-family:ClanPro-Regular;
		font-size: 11px;	
		font-weight: 500;

		img {	
			position: absolute;
			height: 35px;
			width: 35px;
			border-radius: 50%;
			top: 50%;
			left: 50%;
			transform: translateY(30%) translateX(-50%);
		}
	}

	.body {
		padding: 30px 15px 15px 15px;
		height: 100%;
		background-color: #fff;

		display: flex;
		flex-direction: column;

		.container-info {
			padding-bottom: 10px;
			@include styleParagraphSmall();
			opacity: 1;
			font-size: 12px;
			line-height: 20px;
			width: 170px;
			border-bottom: 1px solid #E9E9F4;
			.type {

			}

			.info {

				display: flex;
				justify-content: space-between;

				.left {
					color: #0B1D4C;
				}
				.right {
					width: 45px;
					color: #35C850;

					img {
						margin-left: 5px;
					}
				}
			}
		}

		.container-adress {
			width: 170px;
			padding-top: 10px;
			@include styleParagraphSmall();
			opacity: 1;
			font-size: 11px;
			line-height: 20px;
		}
	}

}

/* ----------------------------------------------- */
/* ***************** END MAP ********************* */
/* ----------------------------------------------- */