header {

	display: flex;
	justify-content: space-between;
	background-color: $colorMain_1;

	width: 100%;
	height: 70px;

	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;

	.logo {
		display: flex;
		align-items: center;
		justify-content: center;

		height: 70px;	
		width: 70px;	
		border-radius: 0 0 5px 0;	
		background-color: $colorMain_4;

		img {
			height: 25px;	
			width: 30px;
		}
	}

	.nav {
		display: flex;
		align-items: center;
		justify-content: space-between;

		width: 750px;

		.container-action {
			position: relative;
			display: flex;
			align-items: center;
			opacity: 0.5;
			cursor: pointer;
			padding: 10px 0;

			&:hover, &.active {
				opacity: 1;

				.container-number {
					border: 1px solid $colorMain_4;
				    background-color: $colorMain_4;
				}
			}

			img {
				height: 12px;	
				width: 18px;
			}

			.container-text {
				margin-left: 10px;
				color: #FFFFFF;	
				font-family:Lato-Regular;
				font-size: 12px;	
				font-weight: bold;
			}

			.arrow {
				margin-left: 10px;
				height: 8px;	
				width: 8px;
				img {
					height: 100%;
					width: 100%;
				}
			}

			.container-number {
				margin-left: 10px;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 15px;	
				width: 19px;	
				border: 1px solid #FFFFFF;	
				border-radius: 5px;
				color: #fff;
				font-family:Lato-Regular;
				font-size: 8px;	
				font-weight: bold;
			}

			.dropdown {
				padding: 6px;
				position: absolute;
				display: none;
				align-items: center;
				justify-content: space-between;
				height: 130px;	
				width: 350px;	
				border-radius: 5px;	
				background-color: #203660;	
				box-shadow: 0 20px 30px 0 rgba(0,0,0,0.2);
				top: 33px;
			    left: 50%;
			    transform: translateX(-50%);

			    .container-illu {
			    	display: flex;
			    	flex-direction: column;
			    	align-items: center;
			    	justify-content: center;
			    	height: 120px;	
			    	width: 164px;		
			    	border-radius: 5px;	

			    	img {
			    		width: 100px;
			    		height: 60px;
			    	}

			    	.container-text {
			    		display: flex;
			    		align-items: center;
			    		@include styleParagraphSmall();
			    		font-size: 11px;
			    		color: #fff;
			    		opacity: 1;
			    		margin-top: 5px;
			    		margin-left: 0;

			    		img {
			    			margin-left: 10px;
			    			width: 8px;
			    			height: 8px;
			    			transform: rotate(-90deg);
			    		}
			    	}

			    	&:hover, &.active {
			    		background-color: rgba(255,255,255,0.04);
			    	}
			    }

			    .line {
			    	height: 80px;	
			    	width: 2px;	
			    	border: 1px solid #FFFFFF;	
			    	opacity: 0.1;
			    }
			}

			&:hover .dropdown {
		    	display: flex;
		    }
		}
	}

	.profil {
		display: flex;
		align-items: center;	
		justify-content: space-between;
		margin-right: 30px;
		width: 190px;

		.notif {
			position: relative;
			img {
				height: 14px;	
				width: 13px;
			}

			.exposant {
				position: absolute;
				top: 0;
				transform: translateX(50%) translateY(-50%);
				padding: 1px 0 0 3.5px;
				height: 13px;	
				width: 13px;	
				border-radius: 50%;
				background-color: $colorMain_4;
				color: #fff;
				font-family:Lato-Regular;
				font-size: 8px;	
			}

			&:hover img:first-child {
				cursor: pointer;
				opacity: 0.7;
			}

			.dropdown {
				display: none;
				position: absolute;
				top: 25px;
    			right: -20px;
				width: 460px;
				border-radius: 5px;
				background-color: #FFFFFF;
				box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);

				&.show {
					display: block;
				}

				.title {
					position: relative;
					border-radius: 4px 4px 0 0;
					display: flex;
					align-items: center;
					padding-left: 20px;
					@include styleH5();
					font-size: 11px;
					background-color: #E9E9F4;
					height: 50px;
					opacity: 1;
					font-weight: bold;

					.container-action {
						position: absolute;
						top: 50%;
    					transform: translateY(-50%);
						right: 25px;
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 125px;

						.action:hover {
							cursor: pointer;
							text-decoration: underline;
						}

						.point {
							background-color: #D8D8D8;
							width: 4px;
							height: 4px;
							border-radius: 50%;
						}
					}
				}

				.message {
					padding: 10px 20px;
					display: flex;
					align-items: baseline;
					justify-content: space-between;
					border-bottom: 1px solid #D8D8D8;

					img {
						width: 14px;
						height: 13px;
						margin-right: 10px;
					}

					img.warning {
						display: none;
					}

					&.warning {
						img.envelop {
							display: none;
						}
						img.warning {
							display: block;
						}
					}

					.circle {
						transform: translateY(2px);
						border-radius: 50%;
						border: 1px solid #E9E9F4;
						width: 12px;
						height: 12px;
					}

					&.active {
						.circle {
							border: 1px solid $colorMain_3;
						}
					}

					.container-text {
						@include styleParagraphSmall();
						opacity: 1;
						.text {
							width: 400px;
							span {
								color: $colorMain_1;
							}
						}
						.time {
							font-size: 9px;
						}
					}

					&:hover {
						cursor: pointer;
						background-color: rgba(0,0,0,0.01);
					}
				}

				.more {
					cursor: pointer;
					border-radius: 0 0 4px 4px;
					display: flex;
				    justify-content: center;
				    align-items: center;
					@include styleParagraphSmall();
					font-size: 13px;
					opacity: 1;
					color: #fff;
					background-color: $colorMain_1;
					height: 50px;
					text-align: center;
					font-weight: 500;
				}
			}
		}

		.compte {
			display: flex;
			align-items: center;
			cursor: pointer;
			img {
				border-radius: 50%;
				height: 24px;	
				width: 24px;
			}
			.container-text {
				margin-left: 10px;
				color: #FFFFFF;	
				font-family:Lato-Regular;
				font-size: 12px;	
				font-weight: bold;
			}

			&:hover {
				opacity: 0.7;
			}
		}
	}
}

header.mobile {
	display: none;

	.profil {
		width: 160px;
		margin-right: 0;
		.notif {
			img {
				width: 20px;
				height: 22px;
			}
			.exposant {
				right: 0;
			}
			.dropdown {
				position: fixed;
				padding-bottom: 15px;
				border-radius: 0;
				top: 70px;
				width: 100%;
				left: 0;

				.message {
					.container-text .text {
						width: 300px;
					}

					.circle {
						transform: translateY(4px);
						background-color: #E9E9F4;
						border: none;
					}

					&.active .circle {
						background-color: #937BF3;
						border: none;
					}
				}

				.more {
					margin: auto;
					width: 315px;
					border-radius: 4px;
					margin-top: 15px;
				}
			}

			&:first-child .dropdown{
				
				.message:nth-last-child(3) {
					border: none;
				}

				.more:last-child {
					background-color: #fff;
					color: $colorMain_1;
					border: 1px solid $colorMain_1;
				}
			}
		}
	}

	.burger {
		position: relative;
		height: 70px;	
		width: 80px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.line {
			height: 2px;		
			border-radius: 1.5px;	
			background-color: #fff;
			transition-duration: 0.2s;
			width: 17px;
			&:first-child {
				transform: translateY(-4px);
			}
			&:last-child {
				transform: translateY(4px);
			}
		}
	}

	.nav {
		transform: translateY(-100%);
		padding: 30px;
		position: fixed;
		z-index: -1;
		top: 70px;
		left: 0;
		width: 100%;
		height: 100vh;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		background-color: $colorMain_1;
		transition-duration: 0.3s;

		.container-action {
			padding: 40px 0;
			flex-wrap: wrap;
			max-width: 350px;

			.dropdown {
				position: relative;
				width: 300px;
				top: 35px;
				left: 0;
				transform: none;
			}
		}
	}

	&.active {

		.burger {
			.line {
				width: 24px;
				&:first-child {
					transform: rotate(45deg) translateX(2px) translateY(2px);
				}
				&:last-child {
					transform: rotate(-45deg) translateX(0) translateY(0);
				}
			}
		}

		.nav {
			transform: translateY(-2px);
		}
	}
}

@media screen and (max-width: 1250px) {
	header .nav {
		width: 600px;
	}
	header .nav .container-action .container-text {
		margin-left: 5px;
	}
	header .profil {
		width: 160px;
		margin-right: 15px;
	}
	header .profil .notif:first-child {
		margin-right: 10px;
	}
}

@media screen and (max-width: 900px) {
	header .profil .compte .container-text {
		display: none;
	}
	header .profil {
		width: 100px;
	}
}

@media screen and (max-width: 800px) {

	header.desktop {
		display: none;
	}

	header.mobile {
		display: flex;
	}

}